> movie-recomand June 28, 2023 **1** **Movie Recomendation system**  
> **Importing the packages**

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><p>[60]: <strong>import pandas as pd</strong></p>
<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><strong>import matplotlib.pyplot as plt</strong><br />
<strong>import math</strong><br />
<strong>import numpy as np</strong><br />
<strong>import difflib</strong><br />
<strong>from sklearn.metrics.pairwise import</strong> cosine_similarity
<strong>from sklearn.feature_extraction.text import</strong>
TfidfVectorizer</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

**Reading the file**  
\[61\]: data=pd.read_csv("movies.csv")

**Details of File**  
\[62\]: data.info()

<table>
<colgroup>
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="3">&lt;class 'pandas.core.frame.DataFrame'&gt; RangeIndex:
4803 entries, 0 to 4802 Data columns (total 24 columns):</th>
<th rowspan="17"><blockquote>
<p>Dtype<br />
-----<br />
int64<br />
int64<br />
object<br />
object<br />
int64<br />
object<br />
object<br />
object<br />
object<br />
float64<br />
object<br />
object<br />
object<br />
int64</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>#</th>
<th><blockquote>
<p>Column</p>
</blockquote></th>
<th>Non-Null Count</th>
</tr>
<tr class="header">
<th>---</th>
<th><blockquote>
<p>------</p>
</blockquote></th>
<th>--------------</th>
</tr>
<tr class="odd">
<th>0</th>
<th><blockquote>
<p>index</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>1</th>
<th><blockquote>
<p>budget</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>2</th>
<th><blockquote>
<p>genres</p>
</blockquote></th>
<th><blockquote>
<p>4775 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>3</th>
<th><blockquote>
<p>homepage</p>
</blockquote></th>
<th><blockquote>
<p>1712 non-null</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>4</th>
<th><blockquote>
<p>id</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>5</th>
<th><blockquote>
<p>keywords</p>
</blockquote></th>
<th><blockquote>
<p>4391 non-null</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>6</th>
<th><blockquote>
<p>original_language</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>7</th>
<th><blockquote>
<p>original_title</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>8</th>
<th><blockquote>
<p>overview</p>
</blockquote></th>
<th><blockquote>
<p>4800 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>9</th>
<th><blockquote>
<p>popularity</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>10</th>
<th>production_companies</th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>11</th>
<th>production_countries</th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>12</th>
<th><blockquote>
<p>release_date</p>
</blockquote></th>
<th><blockquote>
<p>4802 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>13</th>
<th><blockquote>
<p>revenue</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

1

<table>
<colgroup>
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th>14</th>
<th><blockquote>
<p>runtime</p>
</blockquote></th>
<th><blockquote>
<p>4801 non-null</p>
</blockquote></th>
<th rowspan="11"><blockquote>
<p>float64<br />
object<br />
object<br />
object<br />
object<br />
float64<br />
int64<br />
object<br />
object<br />
object</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>15</th>
<th><blockquote>
<p>spoken_languages</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>16</th>
<th><blockquote>
<p>status</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>17</th>
<th><blockquote>
<p>tagline</p>
</blockquote></th>
<th><blockquote>
<p>3959 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>18</th>
<th><blockquote>
<p>title</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>19</th>
<th><blockquote>
<p>vote_average</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>20</th>
<th><blockquote>
<p>vote_count</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>21</th>
<th><blockquote>
<p>cast</p>
</blockquote></th>
<th><blockquote>
<p>4760 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>22</th>
<th><blockquote>
<p>crew</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>23</th>
<th><blockquote>
<p>director</p>
</blockquote></th>
<th><blockquote>
<p>4773 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th colspan="3"><blockquote>
<p>dtypes: float64(3), int64(5), object(16) memory usage: 900.7+ KB</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> **Getting the req_data from data set**

| \[63\]: req_data=data.iloc\[:,\[2,5,8,9,12,14,15,19,21,23\]\] |
|---------------------------------------------------------------|

> **Converting all data to string format and filling the null values**

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[64]: <strong>for</strong> i <strong>in</strong>
req_data.keys():<br />
req_data[i]=req_data[i].astype("string")
req_data[i]=req_data[i].fillna("")</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> \<ipython-input-64-5eab926dcb66\>:2: SettingWithCopyWarning:  
> A value is trying to be set on a copy of a slice from a DataFrame.
>
> Try using .loc\[row_indexer,col_indexer\] = value instead
>
> See the caveats in the documentation:
> https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
> req_data\[i\]=req_data\[i\].astype("string")  
> \<ipython-input-64-5eab926dcb66\>:3: SettingWithCopyWarning:  
> A value is trying to be set on a copy of a slice from a DataFrame.
>
> Try using .loc\[row_indexer,col_indexer\] = value instead
>
> See the caveats in the documentation:
> https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
> req_data\[i\]=req_data\[i\].fillna("")

\[65\]: req_data.info()

<table>
<colgroup>
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="3">&lt;class 'pandas.core.frame.DataFrame'&gt; RangeIndex:
4803 entries, 0 to 4802 Data columns (total 10 columns):</th>
<th rowspan="7"><blockquote>
<p>Dtype<br />
-----<br />
string<br />
string<br />
string<br />
string</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>#</th>
<th><blockquote>
<p>Column</p>
</blockquote></th>
<th><blockquote>
<p>Non-Null Count</p>
</blockquote></th>
</tr>
<tr class="header">
<th>---</th>
<th><blockquote>
<p>------</p>
</blockquote></th>
<th><blockquote>
<p>--------------</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>0</th>
<th><blockquote>
<p>genres</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>1</th>
<th><blockquote>
<p>keywords</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>2</th>
<th><blockquote>
<p>overview</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
<tr class="header">
<th>3</th>
<th><blockquote>
<p>popularity</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

2

<table>
<colgroup>
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th>4</th>
<th><blockquote>
<p>release_date</p>
</blockquote></th>
<th><blockquote>
<p>4803 non-null</p>
</blockquote></th>
<th><blockquote>
<p>string</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>5</td>
<td><blockquote>
<p>runtime</p>
</blockquote></td>
<td><blockquote>
<p>4803 non-null</p>
</blockquote></td>
<td><blockquote>
<p>string</p>
</blockquote></td>
</tr>
<tr class="even">
<td>6</td>
<td>spoken_languages</td>
<td><blockquote>
<p>4803 non-null</p>
</blockquote></td>
<td><blockquote>
<p>string</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>7</td>
<td><blockquote>
<p>vote_average</p>
</blockquote></td>
<td><blockquote>
<p>4803 non-null</p>
</blockquote></td>
<td><blockquote>
<p>string</p>
</blockquote></td>
</tr>
<tr class="even">
<td>8</td>
<td><blockquote>
<p>cast</p>
</blockquote></td>
<td><blockquote>
<p>4803 non-null</p>
</blockquote></td>
<td><blockquote>
<p>string</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>9</td>
<td><blockquote>
<p>director</p>
</blockquote></td>
<td rowspan="3"><blockquote>
<p>4803 non-null</p>
</blockquote></td>
<td rowspan="3"><blockquote>
<p>string</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2"><blockquote>
<p>dtypes: string(10)</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="2"><blockquote>
<p>memory usage: 375.4 KB</p>
</blockquote></td>
</tr>
</tbody>
</table>

> **converting the secondary factors into a single attribute of string**

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[66]: <em>#movie recomdations based on
genres,release_date,cast,director,and remain</em>
string=req_data['keywords']+" "+req_data['director']+"
"+req_data['overview']+"␣ ↪"+req_data['popularity']+"
"+req_data['runtime']+"␣↪"+req_data['spoken_languages']+"
"+req_data['vote_average']<br />
• Creation of individual normalised vector for primary factors<br />
• similarly common normalised vector for secondary factors</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><p>[67]:
vector1=TfidfVectorizer().fit_transform(req_data["genres"])<br />
vector2=TfidfVectorizer().fit_transform(req_data["release_date"]+"␣</p>
<blockquote>
<p>vector3=TfidfVectorizer().fit_transform(req_data["cast"])↪"+req_data["popularity"])<br />
vector4=TfidfVectorizer().fit_transform(string)</p>
</blockquote></td>
</tr>
</tbody>
</table>

> **Generation of similarity scores for those vectors**

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[68]: similar_genres=cosine_similarity(vector1)<br />
similar_release_date=cosine_similarity(vector2)
similar_cast=cosine_similarity(vector3)<br />
similar_other_factors=cosine_similarity(vector4)</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> **Reading input from user and then matching it with the closest ones**

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>movie=input("Enter Movie Name:")<br />
movie_name=difflib.get_close_matches(movie,data["title"])
<strong>if</strong>(len(movie_name)==0):<br />
print("No recomendations found")<br />
print("Try with other name")<br />
<strong>else</strong>:<br />
<strong>break</strong><br />
val=data[data.title==movie_name[0]]["index"].values[0]<br />
movie=data.loc[[int(val)],["title"]].values[0][0]<br />
genres=data.loc[[int(val)],["genres"]].values[0][0]<br />
cast=data.loc[[int(val)],["cast"]].values[0][0]<br />
release_date=data.loc[[int(val)],["release_date"]].values[0][0]
print("Movie Name:",movie)<br />
print("genres:",genres)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[69\]: **while** (**True**):

3

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>print("cast:",cast)<br />
print("release date:",release_date)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> Enter Movie Name:avtar  
> Movie Name: Avatar  
> genres: Action Adventure Fantasy Science Fiction  
> cast: Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang
> Michelle Rodriguez  
> release date: 2009-12-10
>
> **Getting similarity scores for the given movie**

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[70]: genres_score=list(enumerate(similar_genres[val]))<br />
cast_score=list(enumerate(similar_cast[val]))<br />
release_score=list(enumerate(similar_release_date[val]))
others_score=list(enumerate(similar_other_factors[val]))</th>
</tr>
</thead>
<tbody>
</tbody>
</table>

> **Recomending movies based on the User Zone**

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>recomanded_movies=[]<br />
sorted_recomandations=sorted(genres_score,key=<strong>lambda</strong>
x:x[1],reverse=<strong>True</strong>) <strong>for</strong> i
<strong>in</strong> sorted_recomandations:<br />
index=i[0]<br />
recomanded_movies.append(data[data.index==index]['title'].values[0])
count+=1<br />
<strong>if</strong>(count&gt;(10)):<br />
<strong>break</strong><br />
<strong>for</strong> i <strong>in</strong> recomanded_movies:<br />
va=data[data.title==i]["homepage"].values[0]<br />
<strong>if</strong> pd.isnull(va):<br />
print(i)<br />
<strong>else</strong>:<br />
print(i,va)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[71\]: count=0

> Avatar http://www.avatarmovie.com/  
> Superman Returns http://www.superman.com  
> Man of Steel http://www.manofsteel.com/  
> X-Men: Days of Future Past http://www.x-menmovies.com/  
> Jupiter Ascending http://www.jupiterascending.com  
> The Wolverine http://www.thewolverinemovie.com  
> Superman  
> Superman II  
> Beastmaster 2: Through the Portal of Time  
> Teenage Mutant Ninja Turtles
> http://www.teenagemutantninjaturtlesmovie.com Mystery Men
>
> **Recomending movies based on user Favorite characters**

4

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>recomanded_movies=[]<br />
sorted_recomandations=sorted(cast_score,key=<strong>lambda</strong>
x:x[1],reverse=<strong>True</strong>) <strong>for</strong> i
<strong>in</strong> sorted_recomandations:<br />
index=i[0]<br />
recomanded_movies.append(data[data.index==index]['title'].values[0])
count+=1<br />
<strong>if</strong>(count&gt;(10)):<br />
<strong>break</strong><br />
<strong>for</strong> i <strong>in</strong> recomanded_movies:<br />
va=data[data.title==i]["homepage"].values[0]<br />
<strong>if</strong> pd.isnull(va):<br />
print(i)<br />
<strong>else</strong>:<br />
print(i,va)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[73\]: count=0

> Avatar http://www.avatarmovie.com/  
> Gettysburg  
> Out of the Furnace  
> Galaxy Quest  
> Imaginary Heroes
> http://www.sonypictures.com/classics/imaginary/site.html Snow White: A
> Tale of Terror  
> The Words http://www.thewordsmovie.com/  
> Everest http://www.everestmovie.com/  
> Drumline  
> Get Over It  
> Vantage Point http://www.vantagepoint-movie.com/index.php
>
> **Recomending movies based on user interested time-zone**

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>recomanded_movies=[]<br />
sorted_recomandations=sorted(release_score,key=<strong>lambda</strong>
x:x[1],reverse=<strong>True</strong>) <strong>for</strong> i
<strong>in</strong> sorted_recomandations:<br />
index=i[0]<br />
recomanded_movies.append(data[data.index==index]['title'].values[0])
count+=1<br />
<strong>if</strong>(count&gt;(10)):<br />
<strong>break</strong><br />
<strong>for</strong> i <strong>in</strong> recomanded_movies:<br />
va=data[data.title==i]["homepage"].values[0]<br />
<strong>if</strong> pd.isnull(va):<br />
print(i)<br />
<strong>else</strong>:<br />
print(i,va)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[74\]: count=0

> Avatar http://www.avatarmovie.com/  
> A Shine of Rainbows

5

> Life During Wartime
> http://www.ifcfilms.com/films/life-during-wartime-2 Chicago Overcoat  
> Invictus http://invictusmovie.warnerbros.com  
> Observe and Report  
> Oceans http://oceans-lefilm.com/  
> 2012 http://www.sonypictures.com/movies/2012  
> Defendor  
> A Woman, a Gun and a Noodle Shop  
> Rocket Singh: Salesman of the Year  
> http://www.yashrajfilms.com/microsites/rocketsingh/rswebsite.html
>
> **Recomending movies that adds on interest**

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>recomanded_movies=[]<br />
sorted_recomandations=sorted(others_score,key=<strong>lambda</strong>
x:x[1],reverse=<strong>True</strong>) <strong>for</strong> i
<strong>in</strong> sorted_recomandations:<br />
index=i[0]<br />
recomanded_movies.append(data[data.index==index]['title'].values[0])
count+=1<br />
<strong>if</strong>(count&gt;10):<br />
<strong>break</strong><br />
<strong>for</strong> i <strong>in</strong> recomanded_movies:<br />
va=data[data.title==i]["homepage"].values[0]<br />
<strong>if</strong> pd.isnull(va):<br />
print(i)<br />
<strong>else</strong>:<br />
print(i,va)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[75\]: count=0

> Avatar http://www.avatarmovie.com/  
> Lifeforce  
> Moonraker http://www.mgm.com/view/movie/1292/Moonraker/ Gattaca  
> Gravity http://gravitymovie.warnerbros.com/  
> Cargo http://www.cargoderfilm.ch http://cargothemovie.com Space Chimps
> http://www.spacechimpspower.com/  
> Apollo 18 http://apollo18movie.net/  
> Starship Troopers  
> Deep Impact  
> Alien https://www.facebook.com/alienanthology/

6